PORT=5000

MONGODB_URI=mongodb+srv://nihdabu:xZQeYMUwr9tvpK8g@cluster0.7kfm2l9.mongodb.net/roomPolling?appName=Cluster0


ADMIN_EMAIL=admin@roompolling
ADMIN_PASSWORD=roompolling@admin

JWT_SECRET=iuysrfguyweg5874874eswvrfwe